body {
    margin: 0;
    padding: 0;
}

/* 
#game-board {
    background-color: rgb(137, 209, 235);
    height: 100vh;
    position: relative;
    overflow: hidden;
    text-align: center;
} */

#game-board {
    background-image: url('../images/background.png'); 
    background-size: cover; /* This property ensures that the image covers the entire container */
    height: 100vh;
    position: relative;
    overflow: hidden;
    text-align: center;
}

#player {
    /* background-color: rgb(255, 0, 166);
    position: absolute; */
  background-image: url(../images/amogus.webp);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;

}

#level2, #level3, #level4, #level5 {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
}

#playerPoints {
    top: 10px;
    right: 10px;
    margin: 10px;
    font-size: 30px;
    color: white;
}

.item {
    /* background-color: rgb(90, 19, 156);
    position: absolute; */

    background-image: url(../images/biryani.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 10px;
    height: 150px;
}

.obstacle {
    /* background-color: rgb(116, 188, 96);
    position: absolute; */

    background-image: url(../images/poison.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 10px;
    height: 150px;
}

#page-gameover {
    text-align: center;
    background-color: rgb(166, 161, 171);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

#game-starter {
    text-align: center;
    background-color: rgb(166, 161, 171);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

#start-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #3498db;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

#start-button:hover {
    background-color: #2980b9;
}

#restart-button  {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #3498db;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

#restart-button:hover {
    background-color: #2980b9;
}

h1 {
    margin-top: 150px;
    margin-bottom: 40px; /* Add margin at the bottom */
}

h2 {
    margin-bottom: 40px;
}